<!-- /**********************************************************************
 *                  Author: Carl Tremblay
 *
 *                Cinosh Camera Slider Controller
 *                        version 0.1           
 *
 *                  Copyright 2023 Carl Tremblay  
 * 
 *                            License
 *    Attribution-NonCommercial-NoDerivatives 4.0 International 
 *                      (CC BY-NC-ND 4.0)
 *        https://creativecommons.org/licenses/by-nc-nd/4.0/
 *********************************************************************/ -->


<!-- 
// To debug web application without uploading to ESP32 SPIFFS we need to put the app in debug mode.
// and having http-server node js application. 
//
// Check main.js file for more details
// -->

<!DOCTYPE html>
<html data-bs-theme="dark">

<head>
  <title>Slider Controller</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <!-- <link rel="manifest" href="slider.webmanifest" /> -->
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script defer src="js/jquery.min.js"></script>
  <script defer src="js/bootstrap.bundle.min.js"></script>
  <script src="js/chart.js"></script>
  <script defer src="/js/index.js"></script>
  <script src="js/commands.js"></script>
  <script src="js/websocket.js"></script>
  <script src="js/joystick.js"></script>
  
</head>

<body id="body" class="bg-dark user-select-none">
