<!-- /**********************************************************************
 *                  Author: Carl Tremblay
 *
 *                Cinosh Camera Slider Controller
 *                        version 0.1           
 *
 *                  Copyright 2023 Carl Tremblay  
 * 
 *                            License
 *    Attribution-NonCommercial-NoDerivatives 4.0 International 
 *                      (CC BY-NC-ND 4.0)
 *        https://creativecommons.org/licenses/by-nc-nd/4.0/
 *********************************************************************/ -->

 <!-- 
// To debug web application without uploading to ESP32 SPIFFS we need to put the app in debug mode.
// and having http-server node js application. 
//
// Check main.js file for more details
// -->

<!DOCTYPE html>
<html data-bs-theme="dark">

<head>
  <title>Intervalometer</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script defer src="/index.min.js"></script>
</head>

<body class="bg-dark user-select-none">
 