html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  background-color: #212936;
  color: #f0f2f6;
}

body {
  background-color: #212936;
  color: #f0f2f6;
  text-align: center;
}

.bg-dark {
  background-color: #212936 ! important;
}

.bg-darker {
  background-color: #171d26 ! important;
}

.text-success {
  color: #12babf ! important;
}

.btn-success {
  background-color: #12babf ! important;
}

.text-info {
  color: #2e144d ! important;
}

.text-danger {
  color: #ff2900 ! important;
}

.text-warning {
  color: #ffc25e ! important;
}

.text-primary {
  color: #3370c2 ! important;
}

.text-light {
  color: #f0f2f6 ! important;
}

.title {
  margin-left: 20px !important;
}

.header-icon {
  margin-top: -7px !important;
}

.about {
  font-weight: lighter !important;
  font-size: smaller;
}

.about-copyright {
  font-weight: normal !important;
  font-size: xx-small;
  opacity: 0.75;
  filter: drop-shadow(2px 2px 10px black) !important;
}

.about-picture {
  position: absolute;
  left: 10px;
  right: 10px;
  margin-top: -25px;
}

.checkContainerLabel {
  margin-left: 10px !important;

}

.mode-container {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.checkContainer {
  display: inline-flex;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
}

.statusBar {
  font-size: smaller;
  margin-top: 10px;
}

.graph {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.graphChildren {
  margin-left: auto !important;
  margin-right: auto !important;
}

.joystick-box {
  width: 128px;
  height: 188px;
  margin: auto;
}

.stick {
  position: absolute;
  left: 32px;
  top: 32px;
  filter: drop-shadow(10px 10px 10px black);
}

.kinematic-title {
  margin-bottom: 0px;
  margin-top: -10px;
}


.control-container {
  height: 188px;
  width: 100%;
  display: inline-flex;

}

.joystick-container {
  position: relative;
  height: 188px;
  margin-left: auto;
  margin-right: auto;
}

.joystick-label {
  margin-top: 138px !important;
  ;
}

.joystick1 {
  width: 128px;
  position: absolute;
  left: 0px;
  filter: drop-shadow(2px 2px 10px black);
}

.joystick2 {
  width: 128px;
  position: absolute;
  right: 0px;
  filter: drop-shadow(2px 2px 10px black);
}

.button {
  display: inline-block;
  background-color: #3370c2;
  border: none;
  border-radius: 4px;
  color: #f0f2f6;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

.button2 {
  background-color: #ff2900;
}

.ease-control {
  width: 30% !important;
}

.ease-control-label {
  font-size: smaller;
}

.range-container {
  margin-top: 5px;
}

.kinetic-group-button {
  margin-top: 5px;
}

.content {
  margin-bottom: 50px !important;
}
.content-hidden {
  display: none;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.iframe-container {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: -5px;
}
.app-footer {
  height: 55px;
}

.app-footer-content {
  display: flex;
  flex-direction: row;
}

.copyright-container {
  margin-right: auto;
  padding-top: 12px;
  font-size: xx-small;
}